+++
title = "Heat Pump Challenge 2021|Carbon Co-op"
linkTitle = "Heat Pump Challenge"

+++

{{< blocks/cover title="Welcome to the Heat Pump Challenge 2021: A Carbon Co-op project!" image_anchor="top" height="full" color="orange" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
The Heat Pump Challenge 2021 is a citizen science and participative research and discovery project helping our member households to engage with and understand how installing heat pumps will have an impact on their home.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fab fa-gitlab" title="Contributions welcome!" url="https://gitlab.com/carboncoop/sites/hpc2021" %}}
We do a [Pull Request](https://gitlab.com/carboncoop/sites/hpc2021/pulls) contributions workflow on **GitLab**. New users are always welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-twitter" title="Follow us on Twitter!" url="https://twitter.com/carboncoop" %}}
For announcement of latest features etc.
{{% /blocks/feature %}}


{{< /blocks/section >}}
